body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#generate-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

#generate-btn:hover {
    background-color: #45a049;
}

#generate-btn {
    
    min-width: 150px; 
    width: 30%; 

}
/* styles.css */
.harry-potter-theme .swal2-title {
    color: #c62828; 
    font-family: 'HarryPotterFont', sans-serif; /* Use uma fonte do Harry Potter */
}

.harry-potter-theme .swal2-popup {
    background-color: #ffe0b2; /* Cor de fundo laranja claro */
    border: 2px solid #c62828; /* Borda vermelha */
}

.harry-potter-theme .swal2-icon {
    font-size: 3em; /* Icon size */
 
}

/* Adicione outros estilos conforme necessário */

